#wrapper{
  width: 900px;
  margin: auto;
  border: solid red;
}

#main-image{
  height: 100%;
  width: auto;
  /*position: relative;*/
}

#main-img-title{
  float: right;
  border: 5px solid #BDBDBD;
  background: #E0E0E0;
  padding: 5px;  
}

#image-display{
  text-align: center;
  margin: auto;
  width: 800px;
  height: 400px;
}

.img-caption-wrapper{
  width:250px;
  height:250px;
  overflow:hidden;
  position:relative;
}

.img-title {
  /*position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(163, 0, 0, 0.72);
  opacity: 0;*/
  display: none; /* comment this out for CSS hover */
  /*transition: all 0.5s ease;*/
}

.img-title h5 {
  position: absolute;
  color: rgba(163, 0, 0, 0.72);
  top: 33%;
  width: 100%;
  text-align: center;
}

#thumb-container{
  margin: auto;
  border: solid green;
  width: 800px;
}

#thumb-container li {
  float: left;
  position: relative;
}

.thumb-link img{
  border: inset 10px; 
  border-color: rgba(131, 130, 130, 0.21);
  border-radius: 50%;
  cursor: pointer;
  margin: 10 10 10 10;
  width: 150px;
  height:150px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */